<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- All css Files Here -->
    <link rel="stylesheet" type="text/css" href="{{static '/css/app.min1096a740.css'}}">
      {{{block "css"}}} <!--for express-handlebar custom style-->
    <style>
      a.personLogo{
           display:inline-block;
           width:30px;
           height:30px;
           overflow: hidden;
      }
      a.personLogo img{
        display: inline-block;
        width:100%;
        height:100%;
        border-radius: 100%;

      }
    </style>

    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
</head>
<body>
<li>

   {{#if user}}

    <a href="/about">about</a>
    <a href="/">home</a>
    <a href="/fileupload">fileUpload</a>

    <a href="/logout">Logout</a>
    <a href="/user/updateUser">{{ user.local.username }}</a>

        {{#if user.local.logo}}
            <a href="/user/profile" class="personLogo"><img src="/public/data/upload-logo/{{user.logo}}" ></a>
        {{else}}
            <a href="/user/profile" class="personLogo"><img src="/img/logo.jpg"></a>
        {{/if}}

  {{else}}
    <a href="/about">about</a>
    <a href="/">home</a>
    <a href="/fileupload">fileUpload</a>
    <a href="/login">login</a>
    <a href="/signup">Signup</a>

   {{/if}}

</li>

    {{#if messages }}
        {{#if messages.error }}
        <div class="alert alert-danger"> {{ messages.error }} </div>
        {{else if messages.success}}
        <div class="alert alert-success"> {{ messages.success }} </div>
        {{else if messages.info}}
        <div class="alert alert-info"> {{ messages.info }} </div>        
        {{/if}}
    {{/if}} 


 {{{body}}}



<script src="{{static 'js/app.min08c5359b.js'}}"></script>
{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui("tdd");
        var assert = chai.assert;
    </script>
    <script src="/js/page-test/tests-global.js"></script>

    {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
    {{/if}}

    <script>mocha.run();</script>
{{/if}}




    <!-- All css Files Here -->
      {{{block "js"}}} <!--for hbs custom style-->



    {{!--HOW TO USE STATIC RESOURCES IN CLIENT， TO USE static FUNCTION FROM THE SERVER--}}
    <script type="text/javascript">
        var static = {
            IMG_CART_EMPTY: "{{static '/img/logo.jpg'}}",
            IMG_CART_FULL: "{{static '/img/full.jpg'}}"
        };

        $(document).on('cart_changed', function(){
            $('header img.ccartIcon').atttr('src', cart.isEmpty()?static.IMG_CART_EMPTY:static.IMG_CART_FULL );
        });
    </script>










</body>
</html>