<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
</head>
<body>
<li>
   {{#if user}}
    <a href="/about">about</a>
    <a href="/">home</a>
    <a href="/fileupload">fileUpload</a>
    <a href="/logout">Logout</a>
    <a href="/user/updateUser">Update My Info</a>
  {{else}}
    <a href="/about">about</a>
    <a href="/">home</a>
    <a href="/fileupload">fileUpload</a>
    <a href="/login">login</a>
    <a href="/signup">Signup</a>

   {{/if}}

</li>

    {{#if messages }}
        {{#if messages.error }}
        <div class="alert alert-danger"> {{ messages.error }} </div>
        {{else if messages.success}}
        <div class="alert alert-success"> {{ messages.success }} </div>
        {{else if messages.info}}
        <div class="alert alert-info"> {{ messages.info }} </div>        
        {{/if}}
    {{/if}} 


 {{{body}}}

{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js"></script>
    <script src="/vendor/chai.js"></script>
    <script>
        mocha.ui("tdd");
        var assert = chai.assert;
    </script>
    <script src="/js/page-test/tests-global.js"></script>

    {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
    {{/if}}

    <script>mocha.run();</script>
{{/if}}
</body>
</html>