                <h2>Welcome to the User Profile</h2>
                <h3><img src="/upload/logo/{{user._id}}/{{user.local.logo}}"></h3>
                
                    <p>
                        <strong>id</strong>: {{ user.id }}<br>
                        <strong>username</strong>: {{ user.local.username }}<br>
                        <strong>email</strong>: {{ user.local.email }}<br>
                        <strong>Created_at</strong>: {{ created_at }}<br>
                    </p>