                <h2>Welcome to the User Profile</h2>
                <h3><img src="../../public/data/upload-logo/{{user.logo}}"></h3>
                
                    <p>
                        <strong>id</strong>: {{ user.id }}<br>
                        <strong>username</strong>: {{ user.username }}<br>
                        <strong>email</strong>: {{ user.email }}<br>
                        <strong>Created_at</strong>: {{ user.created_at }}<br>
                    </p>